body {
  max-width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  animation: fadein 0.5s;
}

main {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
  padding: 0 2rem;
}

section#socials {
  margin-top: 4rem;
  display: flex;
  justify-items: center;
  justify-content: center;
}

section#socials img {
  height: 2rem;
  margin: 0 1.5rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
